{% set frameId = 'budget_list_item_' ~ budget.id %}

<turbo-frame id="{{ frameId }}">
    <twig:Overlay:TriggerLongPress target="{{ frameId }}">
        <twig:Liste:Item>
            {% import 'shared/_currency.macro.html.twig' as currency %}

            <div class="flex justify-between items-center">
                <span class="{{ budget.enable ? '' : 'line-through text-muted' }}">{{ budget.name }}</span>
                <span>{{ currency.amount(budget.amount, true, not budget.enable) }}</span>
            </div>

            <twig:block name="detail">
                {% import 'shared/_currency.macro.html.twig' as currency %}

                <div class="flex justify-between items-center">
                    {% if budget.hasNegativeCashFlow %}
                        <span data-bs-toggle="tooltip" data-bs-title="{{ 'budget.list.negative_overflow' | trans }}">
                        <small>{{ currency.amount(budget.cashFlow) }}</small>
                        {# TODO: Add sign option on macro #}
                    </span>
                    {% endif %}
                    {% if budget.hasPositiveCashFlow %}
                        <span data-bs-toggle="tooltip" data-bs-title="{{ 'budget.list.positive_overflow' | trans }}">
                            <small>{{ currency.amount(budget.cashFlow) }}</small>
                        </span>
                    {% endif %}
                    {% if budget.hasNegativeCashFlow or  budget.hasPositiveCashFlow%}
                        <div>
                            <a data-turbo="true" href="{{ path('front_budget_cash_flow_by_account', {'id': budget.id}) }}" class="text-muted flex items-center">
                                <small>
                                    <span>{{ 'budget.list.actions.see_cash_flows' | trans }}</span>
                                    <i class="{{ icons.see_balance }}"></i>
                                </small>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <turbo-frame id="budget_list_item__cash_flow_by_account_{{ budget.id }}"></turbo-frame>
            </twig:block>
        </twig:Liste:Item>
    </twig:Overlay:TriggerLongPress>

    {% if is_granted(constant('App\\Domain\\Budget\\Security\\BudgetVoter::MANAGE'), budget) %}
        <twig:Overlay:Overlay id="{{ frameId }}">
            <twig:block name="sub_header">
                <h3 class="text-xl text-center p-2">{{ budget.name }}</h3>
            </twig:block>
            <div class="overlay-grid">
                <twig:Overlay:GridActionButton
                    actionUrl="{{ path('back_budget_edit', {'id': budget.id}) }}"
                    :icon="icons.edit"
                    label="{{ 'actions.edit' | trans(domain: 'interface') }}"
                />

                {% if is_granted(constant('App\\Domain\\Budget\\Security\\BudgetVoter::DISABLE'), budget) %}
                    <twig:Overlay:GridActionButton
                        actionUrl="{{ path('front_budget_toggle', {'id': budget.id}) }}"
                        :icon="icons.disable"
                        label="{{ 'actions.disabled' | trans(domain: 'interface') }}"
                        data-turbo="true"
                    />
                {% endif %}
                {% if is_granted(constant('App\\Domain\\Budget\\Security\\BudgetVoter::ENABLE'), budget) %}
                    <twig:Overlay:GridActionButton
                        actionUrl="{{ path('front_budget_toggle', {'id': budget.id}) }}"
                        :icon="icons.enable"
                        label="{{ 'actions.enable' | trans(domain: 'interface') }}"
                        data-turbo="true"
                    />
                {% endif %}
                {% if is_granted(constant('App\\Domain\\Budget\\Security\\BudgetVoter::BALANCE'), budget) %}
                    <twig:Overlay:GridActionButton
                        actionUrl="{{ path('back_budget_balance', {'id': budget.id}) }}"
                        :icon="icons.see_balance"
                        label="{{ 'budget.list.actions.balance' | trans }}"
                    />
                {% endif %}
            </div>
        </twig:Overlay:Overlay>
    {% endif %}
</turbo-frame>

