{% set config = config | default({}) %}

{% set hasSerchFormUrl = config.searchFormUrl is defined and config.searchFormUrl is not null %}
{% set hasCreateUrl = config.createUrl is defined and config.createUrl is not null %}
{% set hasActions =  hasSerchFormUrl or hasCreateUrl %}

<menu class="sticky bottom-0 {{ hasActions ? 'bg-gradient-purple2' : 'bg-transparent' }} text-white p-4 flex flex-col rounded-t-3xl"
    {{ stimulus_controller('search-form', {
        formUrl: (config.searchFormUrl | default('')),
    }) }}
>
    <div class="flex justify-between items-center">
        <div class="flex-auto w-full">
            {% if hasSerchFormUrl %}
                <twig:Button :icon="icons.search" label="{{ 'actions.search' | trans(domain: 'interface') }}" size="lg"
                     data-action="click->search-form#search"
                     data-search-form-target="actions"
                />
            {% endif %}
        </div>

        <li class="flex-none w-16">
            <twig:Overlay:TriggerClick target="overlay">
                <div class="flex items-center justify-center bg-gradient-primary rounded-full w-16 h-16 p-2 -translate-y-full shadow-lg absolute">
                    <img src="{{ asset('img/logo2.png') }}" alt="logo" class="w-auto">
                </div>
            </twig:Overlay:TriggerClick>
        </li>

        <div class="flex-auto w-full">
            {% if hasCreateUrl %}
                <twig:Button node="a" :href="config.createUrl" icon="fa-solid fa-wand-magic-sparkles" label="{{ 'actions.create' | trans(domain: 'interface') }}" dir="right" size="lg" data-search-form-target="actions" />
            {% endif %}
        </div>
    </div>

    {% if hasSerchFormUrl %}
        <turbo-frame id="search-form" class="h-0 opacity-0 transition-all max-h-1/2 ease-in-out duration-500 overflow-hidden" {{ stimulus_target('search-form', 'searchForm') }}>
            {% include 'shared/menu/_search_form_placeholder.html.twig' %}
        </turbo-frame>
    {% endif %}
</menu>

<twig:Overlay:Overlay id="overlay">
    <div class="overlay-grid">
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('home'),
            'icon': icons.statistics,
            'label': 'menu.main.statistics' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_account_account_list', {enabled: true}),
            'icon': icons.account,
            'label': 'menu.main.account' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_budget_budget_list', {enabled: true}),
            'icon': icons.budget,
            'label': 'menu.main.budget' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_entries_list'),
            'icon': icons.entries,
            'label': 'menu.main.entries' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_periodicentry_list'),
            'icon': icons.periodic_entries,
            'label': 'menu.main.periodic_entries' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_assignment_list'),
            'icon': icons.assignments,
            'label': 'menu.main.assignments' | trans(domain: 'navigation')
        } only %}
    </div>
</twig:Overlay:Overlay>