{% set frameId = 'assignment_list_item_' ~ assignment.id %}

<turbo-frame id="{{ frameId }}">
    <twig:Overlay:TriggerLongPress target="{{ frameId }}">
        <twig:Liste:Item>
            {% import 'shared/_currency.macro.html.twig' as currency %}

            <div class="flex justify-between items-center">
                <span>{{ assignment.name }}</span>
                <div class="flex-none">
                    {{ currency.amount(assignment.amount, true) }}
                </div>
            </div>

            <twig:block name="detail">
                <twig:Liste:EntityValueItem :icon="icons.account" label="{{ 'assignment.list.account' | trans }}">
                    {{ assignment.account.name }}
                </twig:Liste:EntityValueItem>
            </twig:block>
        </twig:Liste:Item>
    </twig:Overlay:TriggerLongPress>

    <twig:Overlay:Overlay id="{{ frameId }}">
        <twig:block name="sub_header">
            <h3 class="text-xl text-center p-2">{{ assignment.name }}</h3>
        </twig:block>
        <div class="overlay-grid">
            <twig:Overlay:GridActionButton
                actionUrl="{{ path('back_assignment_edit', {'id': assignment.id}) }}"
                :icon="icons.edit"
                label="{{ 'actions.edit' | trans(domain: 'interface') }}"
            />
            {# TODO: Add confirm before action #}
            <twig:Overlay:GridActionButton
                actionUrl="{{ path('front_assignment_remove', {'id': assignment.id}) }}"
                :icon="icons.remove"
                label="{{ 'actions.remove' | trans(domain: 'interface') }}"
                color="secondary"
                data-turbo="true"
            />
        </div>
    </twig:Overlay:Overlay>
</turbo-frame>