{% import 'shared/_currency.macro.html.twig' as currency %}

<span data-bs-toggle="tooltip" data-bs-title="Balance" data-bs-placement="bottom">
    {{ currency.amount(amountBalance.total, true) }}
</span>

<div class="flex justify-between items-center space-x-2 mt-2">
    <twig:Liste:MetricOverviewItem
        title="{{ 'account.list.spent' | trans }}"
        :icon="icons.spent"
        value="{{ currency.amount(amountBalance.totalSpent, false) }}"
        color="primary"
    />

    <twig:Liste:MetricOverviewItem
        title="{{ 'account.list.forecast' | trans }}"
        :icon="icons.forecast"
        value="{{ currency.amount(amountBalance.totalForecast, false) }}"
        color="secondary"
    />

    {% if amountBalance.assignments > 0 %}
        <twig:Liste:MetricOverviewItem
            title="{{ 'account.list.assignment' | trans }}"
            :icon="icons.assignment"
            value="{{ currency.amount(amountBalance.assignments, false) }}"
            color="default"
        />
    {% else %}
        <div class="flex-auto w-full">&nbsp;</div>
    {% endif %}
</div>

