{% set frameId = 'account_list_item_' ~ account.id %}

<turbo-frame id="{{ frameId }}">
    <twig:Overlay:TriggerLongPress target="{{ frameId }}">
        <twig:List:Item>
            <div class="flex justify-between items-center">
                <span class="{{ account.enable ? '' : 'line-through text-muted' }}">{{ account.name }}</span>
                <a data-turbo="true" href="{{ path('front_account_cash_flow', {'id': account.id}) }}" class="text-muted flex items-center">
                    <small>
                        <span>{{ 'account.list.actions.see_cash_flows' | trans }}</span>
                        <i class="{{ icons.see_balance }}"></i>
                    </small>
                </a>
            </div>

            <twig:block name="detail">
                <turbo-frame id="account_list_item__cash_flow_by_account_{{ account.id }}" class="space-y-2"></turbo-frame>
            </twig:block>
        </twig:List:Item>
    </twig:Overlay:TriggerLongPress>

    <twig:Overlay:Overlay id="{{ frameId }}">
        <twig:block name="sub_header">
            <h3 class="text-xl text-center p-2">{{ account.name }}</h3>
        </twig:block>
        <div class="overlay-grid">
            <twig:Overlay:GridActionButton
                actionUrl="{{ path('back_account_edit', {'id': account.id}) }}"
                :icon="icons.edit"
                label="{{ 'actions.edit' | trans(domain: 'interface') }}"
            />

            {% if is_granted(constant('App\\Domain\\Account\\Security\\AccountVoter::DISABLE'), account) %}
                <twig:Overlay:GridActionButton
                    actionUrl="{{ path('front_account_toggle', {'id': account.id}) }}"
                    :icon="icons.disable"
                    label="{{ 'actions.disabled' | trans(domain: 'interface') }}"
                    data-turbo="true"
                />
            {% endif %}
            {% if is_granted(constant('App\\Domain\\Account\\Security\\AccountVoter::ENABLE'), account) %}
                <twig:Overlay:GridActionButton
                    actionUrl="{{ path('front_account_toggle', {'id': account.id}) }}"
                    :icon="icons.enable"
                    label="{{ 'actions.enable' | trans(domain: 'interface') }}"
                    data-turbo="true"
                />
            {% endif %}
        </div>
    </twig:Overlay:Overlay>
</turbo-frame>