{% extends 'base.html.twig' %}

{% block body %}
    <twig:PageTitle :icon="icons.account" label="{{ 'account.title' | trans }}" :detail="account.name"
        >
        <twig:block name="beforeActions">
            <twig:Button node="a" icon="fa-solid fa-arrow-left-long" color="acrylic" href="{{ path('back_account_account_list') }}"/>
        </twig:block>
    </twig:PageTitle>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    <div class="pt-4 pb-1">
        <twig:Button type="submit" :icon="icons.save" label="{{ 'actions.save' | trans(domain: 'interface') }}" dir="right" size="lg"/>
    </div>

    {{ form_end(form) }}
{% endblock %}