<div class="m-2">
    <twig:Card class="p-0">
        {% import 'shared/_currency.macro.html.twig' as currency %}

        <div class="text-center p-2">
            <small class="text-muted">{{ 'balance' | trans }}</small>
            <div class="text-3xl">{{ currency.amount(amountBalance.total, false) }}</div>
        </div>
        <div class="flex content-between items-center bg-black/10 p-2">
            <div class="flex content-center items-center flex-col flex-auto w-full">
                <small class="text-muted">
                    <i class="fa-solid fa-leaf"></i>
                    {{ 'spent' | trans }}
                </small>
                <span>{{ currency.amount(amountBalance.totalSpent, false) }}</span>
            </div>
            <div class="flex-none">
                <twig:Button node="a" href="{{ path('home_transfer') }}" color="transparent-25" :icon="icons.transfer" />
            </div>
            <div class="flex content-center items-center flex-col flex-auto w-full">
                <small class="text-muted">
                    <i class="fa-solid fa-shield-halved"></i>
                    {{ 'forecast' | trans }}
                </small>
                <span>{{ currency.amount(amountBalance.totalForecast, false) }}</span>
            </div>
        </div>
    </twig:Card>
</div>