{% import 'shared/_currency.macro.html.twig' as currency %}

<turbo-frame id="entry_list_item_{{ entry.id }}">
    <div class="position-relative">
        <li class="list-group-item list-group-item-acrylic d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-start w-100 flex-column">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <span>{{ entry.name }}</span>
                    <span class="me-2">{{ currency.amount(entry.amount, true) }}</span>
                </div>
                <small class="me-2 text-white-50" data-bs-toggle="tooltip" data-bs-title="Date de valeur" data-bs-placement="bottom">
                    <i class="fa-solid fa-calendar-day"></i>
                    <span>{{ entry.createdAt | format_datetime(timeFormat='short', locale=app.request.locale) }}</span>
                </small>
                <div class="d-flex justify-content-start align-items-center flex-wrap w-100 text-white-50">
                    <div class="d-flex align-items-center me-2">
                        <small data-bs-toggle="tooltip" data-bs-title="Type" data-bs-placement="bottom">
                            {% if entry.isForecast %}
                                <i class="fa-solid fa-shield-halved text-warning"></i>
                                <span class="text-warning">{{ entry.type.humanize }}</span>
                            {% else %}
                                <i class="fa-solid fa-leaf text-primary"></i>
                                <span class="text-primary">{{ entry.type.humanize }}</span>
                            {% endif %}
                        </small>
                    </div>
                    <div class="d-flex align-items-center me-2">
                        <small data-bs-toggle="tooltip" data-bs-title="Compte" data-bs-placement="bottom">
                            <i class="fa-solid fa-building-columns"></i>
                            <span>{{ entry.account.name }}</span>
                        </small>
                    </div>
                    {% if entry.isForecast %}
                        <div class="d-flex align-items-center me-2" data-bs-toggle="tooltip" data-bs-title="Budget" data-bs-placement="bottom">
                            <small>
                                <i class="fa-solid fa-piggy-bank"></i>
                                <span>{{ entry.budget.name }}</span>
                            </small>
                        </div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% if not entry.isABalancing %}
            <twig:ItemDropdown>
                <li>
                    <a class="dropdown-item" href="{{ path('back_entry_edit', {'id': entry.id}) }}">Modifier</a>
                </li>
                <li>
                    <a class="dropdown-item" data-turbo="true" href="{{ path('front_entry_remove', {'id': entry.id}) }}">Supprimer</a>
                </li>
            </twig:ItemDropdown>
        {% endif %}
    </div>
</turbo-frame>