{% set frameId = 'entry_list_item_' ~ entry.id %}

<turbo-frame id="{{ frameId }}">
    <twig:Overlay:TriggerLongPress target="{{ frameId }}">
        <twig:List:Item>
            {% import 'shared/_currency.macro.html.twig' as currency %}

            <div class="flex justify-between items-start">
                <span>{{ entry.name }}</span>
                <twig:Tooltip title="{{ 'entry.list.created_at' | trans }}" placement="left" class="flex-none">
                    <small class="text-muted">{{ entry.createdAt | format_datetime(timeFormat='short', locale=app.request.locale) }}</small>
                </twig:Tooltip>
            </div>

            <twig:block name="detail">
                {% import 'shared/_currency.macro.html.twig' as currency %}

                <div>
                    {{ currency.amount(entry.amount, true) }}
                </div>
                <div class="space-x-2">
                    {% if entry.isForecast %}
                        <twig:List:EntityValueItem :icon="icons.forecast" label="{{ 'entry.list.type' | trans }}" color="secondary">
                            {{ entry.type.humanize }}
                        </twig:List:EntityValueItem>
                    {% else %}
                        <twig:List:EntityValueItem :icon="icons.spent" label="{{ 'entry.list.type' | trans }}" color="primary">
                            {{ entry.type.humanize }}
                        </twig:List:EntityValueItem>
                    {% endif %}

                    <twig:List:EntityValueItem :icon="icons.account" label="{{ 'entry.list.account' | trans }}">
                        {{ entry.account.name }}
                    </twig:List:EntityValueItem>

                    {% if entry.isForecast %}
                        <twig:List:EntityValueItem :icon="icons.budget" label="{{ 'entry.list.budget' | trans }}">
                            {{ entry.budget.name }}
                        </twig:List:EntityValueItem>
                    {% endif %}
                </div>
            </twig:block>
        </twig:List:Item>
    </twig:Overlay:TriggerLongPress>

    {% if is_granted(constant('App\\Domain\\Entry\\Security\\EntryVoter::MANAGE'), entry) %}
        <twig:Overlay:Overlay id="{{ frameId }}">
            <twig:block name="sub_header">
                <h3 class="text-xl text-center p-2">{{ entry.name }}</h3>
            </twig:block>
            <div class="overlay-grid">
                <twig:Overlay:GridActionButton
                    actionUrl="{{ path('back_entry_edit', {'id': entry.id}) }}"
                    :icon="icons.edit"
                    label="{{ 'actions.edit' | trans(domain: 'interface') }}"
                />
                <twig:Overlay:GridActionButton
                    actionUrl="{{ path('front_entry_remove', {'id': entry.id}) }}"
                    :icon="icons.remove"
                    label="{{ 'actions.remove' | trans(domain: 'interface') }}"
                    color="secondary"
                    data-turbo="true"
                />
            </div>
        </twig:Overlay:Overlay>
    {% endif %}
</turbo-frame>