{% extends 'base.html.twig' %}

{% block body %}
    <twig:PageTitle :icon="icons.entry" label="{{ 'entry.title' | trans }}" detail="{{ entry.name | default('actions.create' | trans(domain: 'interface')) }}"
    >
        <twig:block name="beforeActions">
            <twig:Button node="a" :icon="icons.back" color="acrylic" href="{{ path('back_entries_list') }}"/>
        </twig:block>
    </twig:PageTitle>

    <twig:Card color="acrylic" size="lg" class="shadow-lg">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.account) }}
        {{ form_row(form.name) }}
        {{ form_row(form.budget) }}
        {{ form_row(form.amount) }}

        <div class="pt-4 pb-1 flex justify-end">
            <twig:Button type="submit" :icon="icons.save" label="{{ 'actions.save' | trans(domain: 'interface') }}" dir="right" size="lg"/>
        </div>

        {{ form_end(form) }}
    </twig:Card>
{% endblock %}