{% set buttonCva = cva({
    'base': 'space-x-2 flex items-center',
    'variants': {
        'dir': {
            'left': '',
            'right': 'justify-end',
        },
    },
    'defaultVariants': {
        'dir': 'left',
    },
}) %}

{% set iconCva = cva({
    'base': 'w-8 h-8 rounded-full p-2 flex justify-center items-center',
    'variants': {
        'color': {
            'primary': 'bg-gradient-primary text-white',
            'acrylic': 'bg-acrylic text-white',
            'transparent-25': 'bg-white/25 text-white',
        },
        'size': {
            'sm': 'w-6 h-6',
            'default': 'w-8 h-8',
            'lg': 'w-10 h-10',
        },
    },
    'defaultVariants': {
        'color': 'primary',
        'size': 'default',
    },
}) %}

{% set node = node | default('button') %}

{% set dir = dir | default('left') %}
{% set color = color | default('primary') %}
{% set size = size | default('default') %}

{% set label = label | default('') %}
{% set icon = icon | default('') %}


<{{ node }} class="{{ buttonCva.apply({dir}, attributes.render('class')) | tailwind_merge }}" {{ attributes.without('class') }}>
    {% if label is not empty and dir == 'right' %}
        <span class="text-white">{{ label }}</span>
    {% endif %}
    <div class="{{ iconCva.apply({color, size}, attributes.render('class'))  }}">
        <i class="{{ icon }}"></i>
    </div>
    {% if label is not empty and dir == 'left' %}
        <span class="text-white">{{ label }}</span>
    {% endif %}
</{{ node }}>