{% set frameId = 'periodic_entry_list_item_' ~ periodicEntry.id %}

<turbo-frame id="periodic_entry_list_item_{{ periodicEntry.id }}">
    <twig:Overlay:TriggerLongPress target="{{ frameId }}">
        <twig:Liste:Item>
            {% import 'shared/_currency.macro.html.twig' as currency %}

            <div class="flex justify-between items-center">
                <span>{{ periodicEntry.name }}</span>
                {# TODO: Add to see budgets with turbo #}
{#                <a data-turbo="true" href="{{ path('front_account_cash_flow', {'id': account.id}) }}" class="text-muted flex items-center">#}
{#                    <small>#}
{#                        <span>{{ 'account.list.actions.see_cash_flows' | trans }}</span>#}
{#                        <i class="{{ icons.see_balance }}"></i>#}
{#                    </small>#}
{#                </a>#}
            </div>

            <twig:block name="detail">
                {% import 'shared/_currency.macro.html.twig' as currency %}

                <span data-bs-toggle="tooltip" data-bs-title="Balance" data-bs-placement="bottom">
                    {{ currency.amount(periodicEntry.totalAmount, true) }}
                </span>
                <div class="space-x-2">
                    {% if periodicEntry.isForecast %}
                        <twig:Liste:EntityValueItem :icon="icons.forecast" label="{{ 'periodic_entry.list.type' | trans }}" color="secondary">
                            {{ periodicEntry.type.humanize }}
                        </twig:Liste:EntityValueItem>
                    {% else %}
                        <twig:Liste:EntityValueItem :icon="icons.spent" label="{{ 'periodic_entry.list.type' | trans }}" color="primary">
                            {{ periodicEntry.type.humanize }}
                        </twig:Liste:EntityValueItem>
                    {% endif %}

                    <twig:Liste:EntityValueItem :icon="icons.account" label="{{ 'periodic_entry.list.account' | trans }}">
                        {{ periodicEntry.account.name }}
                    </twig:Liste:EntityValueItem>

                    <twig:Liste:EntityValueItem icon="fa-solid fa-calendar-day" label="{{ 'periodic_entry.list.execution_date' | trans }}">
                        {{ periodicEntry.executionDate | format_datetime(pattern='d MMM', locale=app.request.locale) }}
                    </twig:Liste:EntityValueItem>

                    {% if periodicEntry.isForecast %}
                        <twig:Liste:EntityValueItem icon="fa-solid fa-coins" label="{{ 'periodic_entry.list.active_budget' | trans }}">
                            {{ periodicEntry.countBudgets }}
                        </twig:Liste:EntityValueItem>
                    {% endif %}
                </div>
            </twig:block>
        </twig:Liste:Item>
    </twig:Overlay:TriggerLongPress>

    <twig:Overlay:Overlay id="{{ frameId }}">
        <twig:block name="sub_header">
            <h3 class="text-xl text-center p-2">{{ periodicEntry.name }}</h3>
        </twig:block>
        <div class="overlay-grid">
            <twig:Overlay:GridActionButton
                actionUrl="{{ path('back_periodic_entry_edit', {'id': periodicEntry.id}) }}"
                :icon="icons.edit"
                label="{{ 'actions.edit' | trans(domain: 'interface') }}"
            />
            {# TODO: Add confirm before action #}
            <twig:Overlay:GridActionButton
                actionUrl="{{ path('front_periodic_entry_remove', {'id': periodicEntry.id}) }}"
                :icon="icons.remove"
                label="{{ 'actions.remove' | trans(domain: 'interface') }}"
                color="secondary"
                data-turbo="true"
            />
        </div>
    </twig:Overlay:Overlay>
</turbo-frame>