{# Form Row #}
{% block form_row -%}
    <div class="relative mb-4">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row %}

{# Labels avec floating effect amélioré #}
{% block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' absolute text-sm text-muted duration-300 transform -translate-y-1 scale-75 top-2 z-10 origin-[0] bg-transparent px-2 peer-focus:px-2 peer-focus:text-muted peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-placeholder-shown:bg-transparent peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-1 rtl:peer-focus:translate-x-0 rtl:peer-focus:left-auto start-1 peer-placeholder-shown:translate-x-0')|trim}) -%}
        {% endif -%}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        <label{% if label_attr %} {% set attr_str = '' %}{% for attrname, attrvalue in label_attr %}{% set attr_str = attr_str ~ ' ' ~ attrname|e('html_attr') ~ '="' ~ attrvalue|e('html_attr') ~ '"' %}{% endfor %}{{ attr_str|raw }}{% endif %} for="{{ id }}">
            {%- if label is empty -%}
                {%- if label_format is not empty -%}
                    {{ label_format|replace({
                        '%name%': name,
                        '%id%': id,
                    })|trans(label_translation_parameters, translation_domain)|raw }}
                {%- else -%}
                    {{ name|humanize|trans(label_translation_parameters, translation_domain) }}
                {%- endif -%}
            {%- else -%}
                {{ label|trans(label_translation_parameters, translation_domain)|raw }}
            {%- endif -%}
        </label>
    {%- endif %}
{%- endblock form_label %}


{# Text Input #}
{% block form_widget_simple -%}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-6 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
        placeholder: ' '
    }) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}


{# Widget Attributes #}
{% block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes %}

{# Email Input #}
{% block email_widget -%}
    {% set type = type|default('email') %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
        placeholder: ' '
    }) %}
    {{- block('form_widget_simple') -}}
{%- endblock email_widget %}

{# Password Input #}
{% block password_widget -%}
    {% set type = 'password' %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
        placeholder: ' '
    }) %}
    <input type="password" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock password_widget %}

{# Number Input #}
{% block number_widget -%}
    {% set type = type|default('number') %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
        placeholder: ' '
    }) %}
    {{- block('form_widget_simple') -}}
{%- endblock number_widget %}

{# Integer Input #}
{% block integer_widget -%}
    {% set type = type|default('number') %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
        placeholder: ' '
    }) %}
    {{- block('form_widget_simple') -}}
{%- endblock integer_widget %}

{# Money Input - Champ personnalisé #}
{% block money_widget -%}
    <div class="relative">
        {% set attr = attr|merge({
            class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 pl-8 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
            placeholder: ' '
        }) %}
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <span class="text-gray-500 dark:text-gray-400">{{ money_pattern|replace({'{{ widget }}': ''})|trim|default('€') }}</span>
        </div>
        {{- block('form_widget_simple') -}}
    </div>
{%- endblock money_widget %}

{# Textarea #}
{% block textarea_widget -%}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer resize-none')|trim,
        placeholder: ' ',
        rows: attr.rows|default(4)
    }) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}

{# Date Input #}
{% block date_widget -%}
    {% if widget == 'single_text' %}
        {% set type = 'date' %}
        {% set attr = attr|merge({
            class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
            placeholder: ' '
        }) %}
        {{- block('form_widget_simple') -}}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}': form_widget(date.year),
                '{{ month }}': form_widget(date.month),
                '{{ day }}': form_widget(date.day),
            })|raw }}
        </div>
    {% endif %}
{%- endblock date_widget %}

{# Time Input #}
{% block time_widget -%}
    {% if widget == 'single_text' %}
        {% set type = 'time' %}
        {% set attr = attr|merge({
            class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
            placeholder: ' '
        }) %}
        {{- block('form_widget_simple') -}}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(time.hour) }}{% if with_minutes %}:{{ form_widget(time.minute) }}{% endif %}{% if with_seconds %}:{{ form_widget(time.second) }}{% endif %}
        </div>
    {% endif %}
{%- endblock time_widget %}

{# DateTime Input #}
{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {% set type = 'datetime-local' %}
        {% set attr = attr|merge({
            class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer')|trim,
            placeholder: ' '
        }) %}
        {{- block('form_widget_simple') -}}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(datetime.date) }}
            {{ form_widget(datetime.time) }}
        </div>
    {% endif %}
{%- endblock datetime_widget %}

{# Widget Container Attributes #}
{% block widget_container_attributes -%}
    {%- if id is not empty %}id="{{ id }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_container_attributes %}

{# Select/Choice sans floating label #}
{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white/10 rounded-lg border border-transparent appearance-none dark:text-white dark:border-transparent dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary')|trim
    }) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if placeholder is not empty -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (placeholder|trans(placeholder_translation_parameters, translation_domain)) : '' }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}

{# Choice Widget Options #}
{% block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice.attr %}{% set attr = choice.attr %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% set attr = {} %}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options %}

{# Row pour les select - pas de floating label #}
{% block choice_row -%}
    <div class="relative">
        {% if label is not same as(false) -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' block mb-2 text-sm font-medium text-gray-900 dark:text-white')|trim}) -%}
            {{- form_label(form) -}}
        {%- endif %}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock choice_row %}

{# Checkbox #}
{% block checkbox_widget -%}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' w-4 h-4 text-blue-600 bg-gray-100 border-transparent rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-transparent')|trim
    }) %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{# Checkbox Row #}
{% block checkbox_row -%}
    <div class="flex items-center mb-4">
        {{- form_widget(form) -}}
        {% if label is not same as(false) -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ms-2 text-sm font-medium text-gray-900 dark:text-gray-300')|trim}) -%}
            {{- form_label(form) -}}
        {%- endif %}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row %}

{# Radio #}
{% block radio_widget -%}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' w-4 h-4 text-blue-600 bg-gray-100 border-transparent focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-transparent')|trim
    }) %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget %}

{# File Input #}
{% block file_widget -%}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' block w-full text-sm text-gray-900 border border-transparent rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-transparent dark:placeholder-gray-400')|trim
    }) %}
    <input type="file" {{ block('widget_attributes') }} />
{%- endblock file_widget %}

{# File Row #}
{% block file_row -%}
    <div class="">
        {% if label is not same as(false) -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' block mb-2 text-sm font-medium text-gray-900 dark:text-white')|trim}) -%}
            {{- form_label(form) -}}
        {%- endif %}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock file_row %}

{# Submit Button #}
{% block submit_widget -%}
    {% set type = type|default('submit') %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')|trim
    }) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock submit_widget %}

{# Button #}
{% block button_widget -%}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')|trim
    }) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{# Button Attributes #}
{% block button_attributes -%}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock button_attributes %}

{# Reset Button #}
{% block reset_widget -%}
    {% set type = 'reset' %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' text-gray-900 bg-white border border-transparent focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-transparent dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700')|trim
    }) %}
    <button type="reset" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock reset_widget %}

{# Form Errors #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="mt-2 text-sm text-red-600 dark:text-red-500">
            {%- for error in errors -%}
                <span class="block">{{ error.message }}</span>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}

{# Form Help #}
{% block form_help -%}
    {%- if help is not empty -%}
        <div class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ help|trans(help_translation_parameters, help_translation_domain)|raw }}</div>
    {%- endif -%}
{%- endblock form_help %}
